 /* #name {font-weight: bold;} */
body{
   background-color: lightgray;
   }

 .bio{
    float: right;
    }
      .aboutme {
          float: left;
          width: 200px;
      }
      .background
       {background:white}