 /* #name {font-weight: bold;} */
.contact{
  background: rgb(131,58,180);
background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(247,29,253,1) 50%, rgba(252,176,69,1) 100%); }
.portfolio{background: rgb(131,58,180);
  background: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(43,29,253,1) 50%, rgba(252,176,69,1) 100%);}
.About{background: rgb(253,208,29);
  background: linear-gradient(90deg, rgba(253,208,29,1) 50%, rgba(180,176,58,0.031731442577030866) 51%, rgba(252,176,69,1) 100%);

} 
  .bio{
    float: right;
    font-weight: bolder;
    font-size: larger;
    margin-left: 450px;
    }
      .aboutme {
          float: left;
          width: 200px;
      }
      .about-photo{ display: block;
        margin-left: 650px;
        /* margin-right: 5000px; */
        width: 500%;}
   